.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* background-color: #f4f4f4; */
  padding: 20px;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 0px 10px;
}
.rempass {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
}

.login-submit {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #f4f4f4;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  position: relative;
  z-index: 2;
}

.login-submit:hover {
  background-color: #555;
}
.lottie-main {
  width: 450px;
  height: 450px;
  position: absolute;
  z-index: 1;
  right: -4vw;
  bottom: -13vh;
}
.lottie-main2 {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 0;
  bottom: -10vh;
  right: -6vw;
}
