#invoice-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 128px;
  height: 35px;
  padding: 8px 12px;
  border: none;
  border-radius: 12px;
  background-color: #63edeff0;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  animation: transitionPOP 0.2s ease-in-out;
}
#invoice-button:hover {
  background-color: #c6eeed;
  transition: background-color 0.3s ease-in-out;
}

.hero-bar-profile-icon {
  width: 20px;
  height: 20px;
  margin-top: 9px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  transform: scale(1.4);
  transition: background-color 0.3s ease-in-out;
}
@keyframes transitionPOP {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  85% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
